@use "../variables" as *;

.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  min-height: 605px;

  &:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }

  .movie-image {
    position: relative;
    background-color: $black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }

  .movie-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 15px;

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: $black;
    }

    .btn-details {
      display: inline-block;
      margin-top: 10px;
      padding: 5px 15px;
      color: $white;
      background-color: $blue;
      border-radius: 5px;
      text-decoration: none;

      &:hover {
        background-color: $black;
      }
    }
  }
}
